<ul class="nav nav-pills nav-fill" ngbNav [(activeId)]="activeId">
    <li class="nav-item" [ngbNavItem]="1">
        <a class="nav-link" aria-current="page" href="#" ngbNavLink>Providers
            <span class="badge text-bg-dark">4</span>
        </a>

    </li>
    <li class="nav-item" [ngbNavItem]="2">
        <a class="nav-link" href="#" ngbNavLink>Departments
            <span class="badge text-bg-dark">4</span>
        </a>
    </li>
    <li class="nav-item" [ngbNavItem]="3">
        <a class="nav-link" href="#" ngbNavLink>Groups
            <span class="badge text-bg-dark">4</span>
        </a>
    </li>
    <li class="nav-item" [ngbNavItem]="4">
        <a class="nav-link" href="#" ngbNavLink>Sectors
            <span class="badge text-bg-dark">4</span>
        </a>
    </li>
    <li class="nav-item" [ngbNavItem]="5">
        <a class="nav-link" href="#" ngbNavLink>Categories
            <span class="badge text-bg-dark">4</span>
        </a>
    </li>
</ul>